<!DOCTYPE html>
<html>
<head>
	<title>Money</title>
	<link type="text/css" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <header>
    	<div class="logo">
    		<a href="/"><img class="graficlogo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"/></a>
			<div class="button">
				<a href="/registration">Регистрация</a>
				<a href="/login">Вход</a>
			</div>
    	</div>
    </header>
    <main>

    </main>
</body>
</html>